html {
    height: 100%;
}

div {
    font-size: 2vmin;
}

#description {
    width: 30vw;
    font-size: 2vmin;
  }

button {
    width: 13vw;
    height: 9vw;
    border-radius: 1vw;
    background: #00A6D6;
    color: white;
    text-transform: uppercase;
    font-size: 2vw;
}

button:hover {
    background: #1f6f86;
    animation: grower 0.5s ease-out infinite alternate;
}

@keyframes grower {
    from {
        width: 13vw;
        height: 9vw;
    }
    to {
        width: 13.2vw;
        height: 9.2vw;
    }
}

button:active {
    color: #1F305E
}

button::before {
    content: "🦀\A";
    white-space: pre-wrap;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1vw;
    row-gap: 1vh;
    height: 10vh;
    align-content: center;
    position: absolute;
    top: 45vh;
}

#description {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

#statsContainer {
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
}

#bottomContainer {
    width: 100%;
    height: 10vh;
}

#delftImage {
    width: 8%; 
    object-fit: scale-down;
  }

#container {
    height: 100%;
    width: 100%;
}

.bottom {
    margin-bottom: 3%;
    width: 90%;
}

.top {
    margin-top: 10vh;
    margin-bottom: 10vh; 
    font-size:7vmin
}

.stats {
    padding-right: 20px;
    font-size: 2vmin;
}

.stats::after {
    content: ":"
}