a {
  color: #00B7FF;
}

@font-face {
  font-family: Paprika;
  src: url("../assets/Paprika-Regular.ttf");
}

*{
  font-family: Paprika;
}

body {
  margin: 0px; 
  height: 100%; 
  width: 100%; 
  padding: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  overflow: hidden;
}

.jbetween {
  justify-content: space-between;
}



.regcenter {
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.jevenly {
  justify-content: space-evenly;
}

.jcenter {
  justify-content: center;
}

.acenter {
  align-items: center;
}

.nwrap {
  flex-wrap: nowrap;
  
}

.jend {
  justify-content: flex-end;
}

.jstart {
  justify-content: flex-start;
}
