<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravitrips</title>
    <link rel="stylesheet" href="./stylesheets/splashStyles.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div id = "container" class="flex jbetween acenter column">
        <div class="flex column jstart acenter top">
            <img id="delftImage" src="./assets/delft.png" alt="Logo">
            G_R_A_V_I_T_R_I_P_S
        </div>
        <div>
            <button id = "button">Play</button>
        </div>
        <div id="description">
                Connect four pieces of your color horizontally, vertically or diagonally!
                Watch out for gravity though! OOOOoooooo
        </div>
        <div>
            <div id="statsContainer">
                <div class = "stats">Completed games:</div>
                <%= completed %>
                <div class = "stats">Ongoing games:</div>
                <%= ongoing %>
                <div class = "stats">Fastest victory</div>
                <div>
                    <%= fastest %>
                    <%if (fastest == 1) { %>
                        move
                    <%} else { %>
                        moves
                    <%} %>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="./javascripts/splash.js"></script>
</footer>
</html>